
<table class='gmisc_table' style='border-collapse: collapse; margin-top: 1em; margin-bottom: 1em;' >
<thead>
<tr>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey;'> </th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Year 1</th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Year 2</th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Year 3</th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Year 4</th>
<th style='border-bottom: 1px solid grey; border-top: 2px solid grey; text-align: center;'>Year 5</th>
</tr>
</thead>
<tbody>
<tr>
<td style='text-align: left;'>1</td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>1</sub>/A<sub>1</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>5</sub>/A<sub>2</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>9</sub>/A<sub>3</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>13</sub>/A<sub>4</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>17</sub>/A<sub>5</sub></td>
</tr>
<tr>
<td style='text-align: left;'>2</td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>2</sub>/A<sub>1</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>6</sub>/A<sub>2</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>10</sub>/A<sub>3</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>14</sub>/A<sub>4</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>18</sub>/A<sub>5</sub></td>
</tr>
<tr>
<td style='text-align: left;'>3</td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>3</sub>/A<sub>1</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>7</sub>/A<sub>2</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>11</sub>/A<sub>3</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>15</sub>/A<sub>4</sub></td>
<td style='padding:0 2em; font-size:0.8em; text-align: center;'>y<sub>19</sub>/A<sub>5</sub></td>
</tr>
<tr>
<td style='border-bottom: 2px solid grey; text-align: left;'>4</td>
<td style='padding:0 2em; font-size:0.8em; border-bottom: 2px solid grey; text-align: center;'>y<sub>4</sub>/A<sub>1</sub></td>
<td style='padding:0 2em; font-size:0.8em; border-bottom: 2px solid grey; text-align: center;'>y<sub>8</sub>/A<sub>2</sub></td>
<td style='padding:0 2em; font-size:0.8em; border-bottom: 2px solid grey; text-align: center;'>y<sub>12</sub>/A<sub>3</sub></td>
<td style='padding:0 2em; font-size:0.8em; border-bottom: 2px solid grey; text-align: center;'>y<sub>16</sub>/A<sub>4</sub></td>
<td style='padding:0 2em; font-size:0.8em; border-bottom: 2px solid grey; text-align: center;'>y<sub>20</sub>/A<sub>5</sub></td>
</tr>
</tbody>
</table>


